.about-container {
  height: 100%;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contact-photo-container {
  background-image: url(./images/ŁAZIENKI/łazienkaZ3a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 100%;
  transform: scale(1.2);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact-about-card {
  height: 100%;
  width: 1000px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.8);
  animation: fade-in 1s;
  -webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.3);
  box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.3);
}

.contact-text-container {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.contact-text-bottom-container {
  height: 60%
}


.contact-bottom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#contact-text-info {
  font-size: 20px;
  letter-spacing: 5px;
}

.contact-table-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;position: absolute;
}

#email-element {
  position: relative;
  top: 30px;
}

#phone-element {
  position: relative;
  bottom: 30px;
}

.contact-table-email {
  // width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.big-screen-left {
  justify-content: flex-end;
}

.big-screen-right {
  justify-content: flex-start;
}

.contact-table-email p {
  padding: 30px;
  font-size: 25px;
}

.iconColor {
  color:  rgb(197, 161, 176);
}

#right-appear {
  position: relative;
  animation: right-into, fade-in;
  animation-duration: 2s;
  margin-left: 18%;
  margin-right: 55%;
  font-size: 25px;
  text-align: center;
}

#right-appear p {
  color: white;
}

@keyframes right-into {
  0% { right: -500px; }
  100% { right: 0px; }
}

.left-appear {
  font-size: 20px;
  position: relative;
  animation: left-into, fade-in;
  animation-duration: 2s;
}

@keyframes left-into {
  0% { left: -500px }
  100% { left: 0px }
}

.right-appear {
  position: relative;
  animation: right-into, fade-in;
  animation-duration: 2s;
}

@keyframes right-into {
  0% { right: -500px }
  100% { right: 0px }
}

.contact-first-elemet a {
  text-decoration: none;
  color: rgb(197, 161, 176);
}

.contact-second-element {
  // animation-delay: 0.7s;
}

@media screen and (max-width: 600px) {

  .contact-bottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .contact-text-container {
    height: 33%;
  }

  .contact-text-bottom-container {
    height: 67%
  }

  .contact-table {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
  }

  .contact-table-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #email-element {
    position: relative;
    top: 0px;
  }

  #phone-element {
    position: relative;
    bottom: 0px;
  }

  .contact-table-email {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .contact-table-email p {
    padding: 30px;
  }

  .contact-about-card {
    height: 100vh;
  }

  .about-background {
    padding: 0px;
  }

  .about-container {
    width: 100%;
    padding: 20px;
  }
}
