$color: rgb(197, 161, 176);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-background {
  height: 100vh;
  width: 100vw;
  display: flex;
  font-family: Caviar Dreams, serif;

}

.Menu-container {
  height: 100vh;
  width: 250px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.menu {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu li:nth-child(1), li:nth-child(2), li:nth-child(3) {
  border-bottom: 1px solid $color;
}

.menu li {
  padding: 15px;
  text-align: center;
  list-style-type: none;
}

.menu a {
  text-decoration: none;
  font-size: 20px;
  color: $color;
}

.logo-container {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
    width: 150px;
    height: 150px;
    background-image: url(./images/LOGO/KOLOR.png);
    background-position: center;
    background-size: 120px 150px;
    background-repeat: no-repeat;

  }

.text-container {
  height: 100vh;
  // background-color: yellow;
  width: 100%;
}

@media only screen and (max-width: 1300px) {
  .home-background {
    display: flex;
    flex-direction: column;
  }

  .Menu-container {
    background-color: black;
    width: 100%;
    height: 30%;
    flex-direction: column-reverse;
  }

  .menu {
    padding: 10px;
  }

  .menu ul {
    display: flex;
  }

  .menu ul li {
    padding: 5px;
    text-align: center;
    list-style-type: none;
  }

  .menu a {
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
    color: $color;
  }

  .menu li:nth-child(1), li:nth-child(2), li:nth-child(3) {
    border-right: 1px solid $color;
    border-bottom: none;
  }

  .logo-container {
    height: 100px;
    margin: 10px;
  }

  .logo {
    width: 100px;
    height: 100px;
    background: url(./images/LOGO/KOLOR.png);
    background-position: center;
    background-size: 70px 90px;
    background-repeat: no-repeat;
  }

  .text-container {
    // height: 100%;
    // background-color: red;
  }
}
